<a href="https://colab.research.google.com/github/Romiszmyr/BASEDEDATOS/blob/main/Copia_de_RESOLUCION_TP1_CienciaDeDatos_PDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabajo Practico N1
# Introduction al Dessarrollo en Python

**EJERCICIO 1**

Determinar si un numero ingresado por el usuario es PAR

In [ ]:
n=int (input ("ingrese un numero: "))
if n % 2 ==0:
  print (n, "es par.")
else:
  print (n, "es impar.")

ingrese un numero: 5
5 es impar.

**EJERCICIO 2**

Determinar si un numero ingresado por el usuario esta DENTRO DEL RANGO [1,10] y es par. MUESTRE UN MENSAJE EN CASO CONTRARIO 'NÚMERO FUERA DEL RANGO'

In [ ]:
n=int (input ("ingrese un numero:"))
if n in range (1,10) and n % 2 == 0:
  print ("DENTRO DEL RANGO")
else:
  print ("NUMERO FUERA DEL RANGO")

ingrese un numero:7
NUMERO FUERA DEL RANGO

**EJERCICIO 3 CICLO FOR**


Solicitar al usuario que ingrese 10 números. Calcule la suma de todos los números ingresados y  cuente cuántos de ellos son par.

In [ ]:
números= int (input("ingrese 10 numeros: "))
pares=0
impares=0
for x in range (1,10+1):
  if x %2 ==0:
    pares= pares + x
  else:
    impares= impares + x

    print("La suma de los números pares es: ", pares)

ingrese 10 numeros: 0
La suma de los números pares es:  0
La suma de los números pares es:  2
La suma de los números pares es:  6
La suma de los números pares es:  12
La suma de los números pares es:  20

**EJERCICIOS 4**

Mostrar todos los números presentes en el rango [56,1230]
Solicitar al usuario que ingrese el rango [a,b] y muestre todos los números pertenecientes a él.

In [ ]:
a= int(input ("Inicio"))
b= int(input ("Fin"))
max= int (1230)
min= int (56)

for x in range(a,b+1):
  if x>=min and x<=max:

    print (x)
  else:
    print ("ERROR")

Inicio62
Fin70
62
63
64
65
66
67
68
69
70

**EJERCICIO 5 CICLO WHILE**

Solicitar al usuario que ingrese un número, si es negativo o nulo , solicitar reiteradamente hasta que ingrese un numero positivo.

chicos, si ingresan un dato nulo (vacio), debo usar un while para que vuelva a pedir lo mismo, pero si es un dato no nulo pasa y el valor lo transfomamos en entero,
y comparamos si es positivo. Si no lo es hay que pedir otro dato, pero puede ser nulo, entonces habría que hacer todo de nuevo. Por eso llamo en el  **else** a la funcion  **positivo**, para que inicie todo de nuevo.
recuerden que para ejecutar una funcion hay que llamarla con su nombre y parentesis. Ejemplo: positivo()

In [ ]:
numero= int (input( "Escriba un numero positivo: "))
while numero <0:
  print("Es un numero negativo, intentelo nuevamente")
  numero= int(input("Escriba un numero positivo: "))
print("¡lo has hecho muy bien!")

Escriba un numero positivo: 8
¡lo has hecho muy bien!

**EJERCICIO 6**

Solicitar al usuario que ingrese un número, si el número es positivo , solicitar reiteradamente hasta que ingrese un numero negativo. Luego mostrar dicho número si es par, en caso contrario mostrar un mensaje 'número ingresado impar'.

In [ ]:

def es_par(numero):
  return numero % 2 == 0


def main():
   while True:
    try:
      num= int (input("ingrese un numero: "))
      if numero >= 0:
        continue

      else:
          if es_par(num):
             print("Numero ingresado par.")
          else:
             print("Numero ingresado impar.")
          break

    except ValueError:
      print("ingresa un numero entero")

if __name__=="__main__":
     main()

ingrese un numero: cuatro
ingresa un numero entero
ingrese un numero: menos cinco
ingresa un numero entero
ingrese un numero: menos cuatro
ingresa un numero entero
ingrese un numero: cero
ingresa un numero entero

KeyboardInterrupt: ignored

**EJERCICIO 7 VECTORES CON CICLO FOR**

Solicitar al usuario que ingrese la cantidad de elementos del vector.
Ingresar cada elemento del vector y calcular su promedio.AYUDA: EL PROMEDIO ES LA SUMA DE TODOS LOS NÚMEROS DIVIDO LA CANTIDAD TOTAL.
Mostrar el vector.

In [ ]:
n=int(input("Escriba un numero"))
vector=[]
suma=0
for i in range(0,n):
  s=int(input("Escriba un numero para el vector {i+1}"))
  suma=s+suma
  vector.append(s)
print(f"La suma es {suma}")
print(f"El promedio es {suma/n}")

for i in range (0,n):
   print(f"{vector[i]}")

Escriba un numero5
Escriba un numero para el vector {i+1}5
Escriba un numero para el vector {i+1}6
Escriba un numero para el vector {i+1}4
Escriba un numero para el vector {i+1}2
Escriba un numero para el vector {i+1}10
La suma es 27
El promedio es 5.4
5
6
4
2
10

**EJERCICIO 8 LISTA CON CICLO FOR**

Solicitar a 10 usuario que ingresen los siguientes datos en el formato lista.

['NOMBRE','APELLIDO', 'DNI','GASTOS MENSUALES DE HOGAR']

Ingresar el final de la lista los siguientes usuarios:

['ESTEBAN','LOPEZ', '45675400','190800.80']

['NOELIA','ALEJA', '46906875','85900.50']

Mostrar el vector.
Eliminar el primer usuario de la lista.

para probar como funciona cambien en el for el 10 por 2 y ejecuten ingrese los datos que le pidan y al terminar todo vuelvan a poner 10 en el for

In [ ]:
todo=[]
nombre= []
apellido= []
dni=[]
gasto=[]

rango=10 #modificar de acuerdo a los valores que se necesiten

for i in range(rango):

  nombre.append (input ("ingrese el nombre"))
  apellido.append (input ("ingrese el apellido"))
  dni.append (input ("ingrese el dni"))
  gasto.append (input ("ingrese el gasto mensual"))

  todo= list(zip(nombre, apellido, dni, gasto))

  print(todo)
  nombre.append ("esteban")
  apellido.append ("lopez")
  dni.append ("45674400")
  gasto.append ("190800.80")
  nombre.append ("noelia")
  apellido.append ("aleja")
  dni.append ("46906875")
  gasto.append ("85900.50")

  todo= list (zip(nombre, apellido, dni, gasto))
  print(todo)

  todo.pop (0)
  print(todo)

ingrese el nombreromina
ingrese el apellidoszmyr
ingrese el dni30425569
ingrese el gasto mensual250000
[('romina', 'szmyr', '30425569', '250000')]
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
[('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
ingrese el nombrejuan martin
ingrese el apellidobidonde
ingrese el dni30880870
ingrese el gasto mensual250000
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000')]
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
[('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
ingrese el nombrebaltazar
ingrese el apellidoguzman
ingrese el dni25485412
ingrese el gasto mensual300000
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000')]
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
[('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
ingrese el nombrethiago
ingrese el apellidosneider
ingrese el dni25847855
ingrese el gasto mensual600000
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000')]
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
[('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
ingrese el nombrecarla
ingrese el apellidopeterson
ingrese el dni28457855
ingrese el gasto mensual500000
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000')]
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
[('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
ingrese el nombrepaula
ingrese el apellidoquarante
ingrese el dni458745
ingrese el gasto mensual21000.56
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56')]
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
[('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
ingrese el nombremario
ingrese el apellidoveterinario
ingrese el dni12485566
ingrese el gasto mensual548211.20
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mario', 'veterinario', '12485566', '548211.20')]
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mario', 'veterinario', '12485566', '548211.20'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
[('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mario', 'veterinario', '12485566', '548211.20'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
ingrese el nombrelorena
ingrese el apellidolopez
ingrese el dni13569000
ingrese el gasto mensual254067.12
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mario', 'veterinario', '12485566', '548211.20'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('lorena', 'lopez', '13569000', '254067.12')]
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mario', 'veterinario', '12485566', '548211.20'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('lorena', 'lopez', '13569000', '254067.12'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
[('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mario', 'veterinario', '12485566', '548211.20'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('lorena', 'lopez', '13569000', '254067.12'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
ingrese el nombremikey
ingrese el apellidomouse
ingrese el dni21256899
ingrese el gasto mensual1005002.87
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mario', 'veterinario', '12485566', '548211.20'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('lorena', 'lopez', '13569000', '254067.12'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mikey', 'mouse', '21256899', '1005002.87')]
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mario', 'veterinario', '12485566', '548211.20'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('lorena', 'lopez', '13569000', '254067.12'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mikey', 'mouse', '21256899', '1005002.87'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
[('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mario', 'veterinario', '12485566', '548211.20'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('lorena', 'lopez', '13569000', '254067.12'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mikey', 'mouse', '21256899', '1005002.87'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50')]
ingrese el nombrejulio
ingrese el apellidoiglesias
ingrese el dni2548745
ingrese el gasto mensual652124
[('romina', 'szmyr', '30425569', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('juan martin', 'bidonde', '30880870', '250000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('baltazar', 'guzman', '25485412', '300000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('thiago', 'sneider', '25847855', '600000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('carla', 'peterson', '28457855', '500000'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('paula', 'quarante', '458745', '21000.56'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mario', 'veterinario', '12485566', '548211.20'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('lorena', 'lopez', '13569000', '254067.12'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('mikey', 'mouse', '21256899', '1005002.87'), ('esteban', 'lopez', '45674400', '190800.80'), ('noelia', 'aleja', '46906875', '85900.50'), ('julio', 'iglesias', '2548745', '652124')]

**EJERCICIO 9 LISTA CON CICLO FOR**

Buscar en la web los datos pablacionales de todas las provicias de Argentina , generando una lista con los siguiente información.

['PROVINCIA','CANTIDAD DE HABITANTES', 'CONSUMO ELECTRICO PER CAPITA','SUPERFICIE EN M^2']



Mostrar TODOS LOS DATOS DEL LISTADO.

In [ ]:
datos_provincias=[
    ["Buenos Aires", 15500000,2300,307571],
    ["Corrientes", 2035000,1400,103480],
    ["Misiones", 1758493,2000,107345]]
print("listado de datos de consumo en argentina por provincias")
print("PROVINCIA|HABITANTES|CONSUMO_ELECTRICO|SUPERFICIE_EN_M2")

for provincia,habitantes,consumo_electrico,superficie in datos_provincias:

       print(f"{provincia}|{habitantes}|{consumo_electrico}|{superficie}")

listado de datos de consumo en argentina por provincias
PROVINCIA|HABITANTES|CONSUMO_ELECTRICO|SUPERFICIE_EN_M2
Buenos Aires|15500000|2300|307571
Corrientes|2035000|1400|103480
Misiones|1758493|2000|107345

**EJERCICIO 10 LISTAS**

Crear una lista con información de estudianes de un colegio donde incluya los siguientes items:


*   curso y división del aula del alumno
*   nombre y apellidos
*   DNI
*   cantidad de notas en el primer trimestre
*   INGRESAR CADA UNA DE ESAS NOTAS, POR EL USUARIO
*   promedio del trimestre

Mostrar todos los nombres y apellidos de los  alumnos
Mostrar los alumnos con promedio mayor o igual a 6

In [23]:
todo=[]
alumnos=[]
curso_y_division=[]
nombre_y_apellido=[]
dni=[]
cantidad_de_notas_primer_trimestre=[]


rango= 4 #modificar de acuerdo a la cantidad de alumnos que se necesiten

for i in range(4):
  curso_y_division.append (input("ingrese año de curso"))
  nombre_y_apellido.append (input("ingrese nombre y apellido"))
  dni.append (input("ingrese su dni"))

  alumnos=list(zip(curso_y_division,nombre_y_apellido,dni))
  print(alumnos)

  cantidad_de_notas_primer_trimestre=int(input("agregar cantidad de notas"))
  vector=[]
  suma=0
  notas=int(input("Ingrese las notas obtenidas este cuatrimestre:"))

  for i in range(rango):
    notas=int(input("Ingrese una nota obtenida para el vector {i}"))
    suma=notas+suma
    vector.append(notas)

  print(f"la suma de las notas es {suma}")
  print(f"el promedio de las notas es {suma/cantidad_de_notas_primer_trimestre}")


  #hasta aca el ejercicio funciona, despues todo lo que voy agregando salta error

  #yo pensaba seguirlo con la siguiente sintaxis, pero no funciona, y ahi es donde estoy confundida


print("{nombre_y_apellido}")

aprobado=0
for h in vec:
  if h>=6
       aprobado=aprobado+1

       print("lista de aprobados: {nombre_y_apellido},{promedio}")

ingrese año de curso2°a
ingrese nombre y apellidoromina szmyr
ingrese su dni30425569
[('2°a', 'romina szmyr', '30425569')]
agregar cantidad de notas4
Ingrese las notas obtenidas este cuatrimestre:8
Ingrese una nota obtenida para el vector {i}6
Ingrese una nota obtenida para el vector {i}7
Ingrese una nota obtenida para el vector {i}8
Ingrese una nota obtenida para el vector {i}5
la suma de las notas es 26
el promedio de las notas es 6.5
ingrese año de curso3°a
ingrese nombre y apellidolola palooza
ingrese su dni2356787
[('2°a', 'romina szmyr', '30425569'), ('3°a', 'lola palooza', '2356787')]
agregar cantidad de notas4
Ingrese las notas obtenidas este cuatrimestre:3
Ingrese una nota obtenida para el vector {i}6
Ingrese una nota obtenida para el vector {i}8
Ingrese una nota obtenida para el vector {i}9
Ingrese una nota obtenida para el vector {i}8
la suma de las notas es 31
el promedio de las notas es 7.75
ingrese año de curso2°c
ingrese nombre y apellidocarolina herrera
ingrese su dni23856744
[('2°a', 'romina szmyr', '30425569'), ('3°a', 'lola palooza', '2356787'), ('2°c', 'carolina herrera', '23856744')]
agregar cantidad de notas3
Ingrese las notas obtenidas este cuatrimestre:6
Ingrese una nota obtenida para el vector {i}4
Ingrese una nota obtenida para el vector {i}7
Ingrese una nota obtenida para el vector {i}8
Ingrese una nota obtenida para el vector {i}5
la suma de las notas es 24
el promedio de las notas es 8.0
ingrese año de curso5°a
ingrese nombre y apellidomartin iluso
ingrese su dni12456766
[('2°a', 'romina szmyr', '30425569'), ('3°a', 'lola palooza', '2356787'), ('2°c', 'carolina herrera', '23856744'), ('5°a', 'martin iluso', '12456766')]
agregar cantidad de notas4
Ingrese las notas obtenidas este cuatrimestre:3
Ingrese una nota obtenida para el vector {i}7
Ingrese una nota obtenida para el vector {i}8
Ingrese una nota obtenida para el vector {i}9
Ingrese una nota obtenida para el vector {i}10
la suma de las notas es 34
el promedio de las notas es 8.5

ValueError: ignored